/* ---------------------------------------- */
/* INDEX */
/* ---------------------------------------- */
/* GLOBAL
    > Media query
    > Container

/* TYPOGRAPHY
    > Texts
    > Titles
    > Specials titles

/* NAVBAR
    > Logo
    > Navbar
    > Top Navbar

/* BUTTONS
    > Specials btn

/* MODALS
    > Modal FAQ

/* CONTENT
    > Style
    > Content block



/*----------------------------------------------------------------------------------------------*/
/*-- 

   ____   ____        ____    ________          _      ____
  6MMMMb/ `MM'       6MMMMb   `MMMMMMMb.       dM.     `MM'
 8P    YM  MM       8P    Y8   MM    `Mb      ,MMb      MM
6M      Y  MM      6M      Mb  MM     MM      d'YM.     MM
MM         MM      MM      MM  MM    .M9     ,P `Mb     MM
MM         MM      MM      MM  MMMMMMM(      d'  YM.    MM
MM     ___ MM      MM      MM  MM    `Mb    ,P   `Mb    MM
MM     `M' MM      MM      MM  MM     MM    d'    YM.   MM
YM      M  MM      YM      M9  MM     MM   ,MMMMMMMMb   MM
 8b    d9  MM    /  8b    d8   MM    .M9   d'      YM.  MM    /
  YMMMM9  _MMMMMMM   YMMMM9   _MMMMMMM9' _dM_     _dMM__MMMMMMM


 --*/
/*-----------------------------------------------*/
html{
    padding: 0!important;
    margin: 0!important;
}

/* ---------------------------------------- */
/* --- Container --- */
/* ---------------------------------------- */
@media (min-width: 1250px) {
    .container{
        max-width: 1366px;
    }
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* ---------------------------------------- */
/* --- Media Query --- */
/* ---------------------------------------- */
.pad-l-50{
    padding-left: 50%;
}

.pad-l-40{
    padding-left: 40%;
}

.pad-l-30{
    padding-left: 30%;
}

.pad-l-20{
    padding-left: 20%;
}

.pad-l-10{
    padding-left: 10%;
}

/* ---------------------------------------- */
/* --- Colors --- */
/* ---------------------------------------- */

/* Bleu foncé */
.bf{
    color: #1F2650;
}

.bf-under{
    text-decoration: underline;
    color: #1F2650;
}

/* Bleu clair  */
.bc{
    color: #83B4FF;
}

.bgbc{
    background: #E9F1FF;
}

/* Background jaune */
.bgj{
    background: #F4E1A0;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

__________ ____     ___ ________      ____       ____   ________           _      ________   ____    ________     ___
MMMMMMMMMM `MM(     )M' `MMMMMMMb.   6MMMMb     6MMMMb/ `MMMMMMMb.        dM.     `MMMMMMMb. `MM'    `MM'`MM(     )M'
/   MM   \  `MM.    d'   MM    `Mb  8P    Y8   8P    YM  MM    `Mb       ,MMb      MM    `Mb  MM      MM  `MM.    d'
    MM       `MM.  d'    MM     MM 6M      Mb 6M      Y  MM     MM       d'YM.     MM     MM  MM      MM   `MM.  d'
    MM        `MM d'     MM     MM MM      MM MM         MM     MM      ,P `Mb     MM     MM  MM      MM    `MM d'
    MM         `MM'      MM    .M9 MM      MM MM         MM    .M9      d'  YM.    MM    .M9  MMMMMMMMMM     `MM'
    MM          MM       MMMMMMM9' MM      MM MM     ___ MMMMMMM9'     ,P   `Mb    MMMMMMM9'  MM      MM      MM
    MM          MM       MM        MM      MM MM     `M' MM  \M\       d'    YM.   MM         MM      MM      MM
    MM          MM       MM        YM      M9 YM      M  MM   \M\     ,MMMMMMMMb   MM         MM      MM      MM
    MM          MM       MM         8b    d8   8b    d9  MM    \M\    d'      YM.  MM         MM      MM      MM
   _MM_        _MM_     _MM_         YMMMM9     YMMMM9  _MM_    \M\__dM_     _dMM__MM_       _MM_    _MM_    _MM_


 --*/
/*-----------------------------------------------*/
@font-face{
	font-family: "Avenir-Medium";
    src: url('./Fonts/Avenir-Medium.woff2');
}
@font-face{
	font-family: "Avenir-Black";
    src: url('./Fonts/Avenir-Black.woff2');
}

/* titles       :    h1          = Avenir Black  / (32px) 2rem
/* 2nd titles   :    h2,h3       = Avenir Black  / (24px) 1.5rem
/* subtitles    :    h4,h5,h6    = Avenir Medium / (24px) 1.5rem
/* paragraphes  :    p           = Avenir Book   / (16px) 1rem
/* buttons      :    btn         = Avenir Black  / (14px) 0.8rem

/* ---------------------------------------- */
/*--- Texts ---*/
/* ---------------------------------------- */
body {
    font-family: "Avenir-Medium", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    color: #000;
}

p {
    text-align: justify;
}

span.bf,.bf-under{
    font-family: "Avenir-Black";
}

.p-blc{
    color: #fff;
}

/* ---------------------------------------- */
/* --- Titles --- */
/* ---------------------------------------- */


/* titles */
h1{
    font-family: "Avenir-Black";
    font-size: 2rem;
    color: #1F2650;
    position: relative;
}

/* 2nd titles */
h2, h3{
    font-family: "Avenir-Black";
    font-size: 1.5rem;
    color: #1F2650;
    position: relative;
}

/* subtitles */
h4,h5,h6{
    font-family: "Avenir-Medium";
    font-size: 1.5rem;
}

/* line 
h1::before {
    width: 50%;
    height: 50%;
    background-color: #83B4FF;
    border-radius: 1rem;
    opacity: 1;
    position: absolute;
    z-index: -1;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-2%);
    content: "";
} */



/* ---------------------------------------- */
/* --- Specials Titles --- */
/* ---------------------------------------- */
.text-center {
    text-align: center;
}

h3.text-center{
    letter-spacing: 6px;
}

/* title-primary */
.text-center.primary{
    color: #83B4FF;
}

/* title-danger */
.text-center.danger{
    color: #F786BE;
}

/* title-warning */
.text-center.warning{
    color: #F9A485;
}

/* title-success */
.text-center.success{
    color: #C4E36A;
}

/* ---------------------------------------- */
/* 

____     ____  ____   __________   ____
`MM'     `MM' 6MMMMb\ MMMMMMMMMM  6MMMMb\
 MM       MM 6M'    ` /   MM   \ 6M'    `
 MM       MM MM           MM     MM
 MM       MM YM.          MM     YM.
 MM       MM  YMMMMb      MM      YMMMMb
 MM       MM      `Mb     MM          `Mb
 MM       MM       MM     MM           MM
 MM       MM       MM     MM           MM
 MM    /  MM L    ,M9     MM     L    ,M9
_MMMMMMM _MM_MYMMMM9     _MM_    MYMMMM9


*/
/* ---------------------------------------- */

.list-style-custom{
    list-style-type: none;
    padding-inline-start: 0;
}

.list-style-custom li {
    padding-inline-start: 30px;
    position: relative;
    margin-bottom: 15px;
}

.arrow-right{
    position: absolute;
    top: 5px;
    left: 0;
}

/*----------------------------------------------------------------------------------------------*/
/*-- 

________   ____     _____________ __________    ____    ___      ___  ____
`MMMMMMMb. `MM'     `M'MMMMMMMMMM MMMMMMMMMM   6MMMMb   `MM\     `M' 6MMMMb\
 MM    `Mb  MM       M /   MM   \ /   MM   \  8P    Y8   MMM\     M 6M'    `
 MM     MM  MM       M     MM         MM     6M      Mb  M\MM\    M MM
 MM    .M9  MM       M     MM         MM     MM      MM  M \MM\   M YM.
 MMMMMMM(   MM       M     MM         MM     MM      MM  M  \MM\  M  YMMMMb
 MM    `Mb  MM       M     MM         MM     MM      MM  M   \MM\ M      `Mb
 MM     MM  MM       M     MM         MM     MM      MM  M    \MM\M       MM
 MM     MM  YM       M     MM         MM     YM      M9  M     \MMM       MM
 MM    .M9   8b     d8     MM         MM      8b    d8   M      \MM L    ,M9
_MMMMMMM9'    YMMMMM9     _MM_       _MM_      YMMMM9   _M_      \M MYMMMM9


 --*/
/*-----------------------------------------------*/
.btn{
    font-size: 0.8rem;
    font-family: "Avenir-Black";
    box-shadow: 0px 3px 6px #00000029;
    color: #ffff;
    border: 2px solid #FAFAFA;
    border-radius: 1rem;
    padding: .2rem 1rem;
    opacity: 1;
}

/* ---------------------------------------- */
/* --- Specials Btn --- */
/* ---------------------------------------- */

/* Btn-primary */
.btn.btn-primary{
    background: #83B4FF;
}
.btn-primary:hover{
    background: #fff;
    color:#83B4FF;
    border: 2px solid #83B4FF;
}

/* Btn-danger */
.btn.btn-danger{
    background: #F786BE;
}
.btn-danger:hover{
    background: #fff;
    color:#F786BE;
    border: 2px solid #F786BE;
}
.btn.r-100{
    border-radius: 50%;
    padding: 0.5rem  0.8rem;
}

/* Btn-warning */
.btn.btn-warning{
    background: #F9A485;
}
.btn-warning:hover{
    background: #fff;
    color:#F9A485;
    border: 2px solid #F9A485;
}

/* Btn-success */
.btn.btn-success{
    background: #C4E36A;
}
.btn-success:hover{
    background: #fff;
    color:#C4E36A;
    border: 2px solid #C4E36A;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

____    ______________        _      ________   __________ ________
`MM'    `MM'`MMMMMMMMM       dM.     `MMMMMMMb. `MMMMMMMMM `MMMMMMMb.
 MM      MM  MM      \      ,MMb      MM    `Mb  MM      \  MM    `Mb
 MM      MM  MM             d'YM.     MM     MM  MM         MM     MM
 MM      MM  MM    ,       ,P `Mb     MM     MM  MM    ,    MM     MM
 MMMMMMMMMM  MMMMMMM       d'  YM.    MM     MM  MMMMMMM    MM    .M9
 MM      MM  MM    `      ,P   `Mb    MM     MM  MM    `    MMMMMMM9'
 MM      MM  MM           d'    YM.   MM     MM  MM         MM  \M\
 MM      MM  MM          ,MMMMMMMMb   MM     MM  MM         MM   \M\
 MM      MM  MM      /   d'      YM.  MM    .M9  MM      /  MM    \M\
_MM_    _MM__MMMMMMMMM _dM_     _dMM__MMMMMMM9' _MMMMMMMMM _MM_    \M\_


 --*/
/*-----------------------------------------------*/

/* ---------------------------------------- */
/* --- Top Navbar ---*/
/* ---------------------------------------- */
#topNavbar{
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}

.agenda {
    border-right: 1px solid #1F2650;
}

/* ---------------------------------------- */
/* ---  Navbar ---*/
/* ---------------------------------------- */
#header{
    position: fixed;
    /* top: 0; sans wpadminbar */
    top: 32px; /* avec wpadminbar */
    width: 100%;
    z-index: 999;
}

#pageContent{
    margin-top: 126px;
}

/* Menu */
#menu-home-menu > li a{
    font-family: "Avenir-Black";
    font-size: 14px;
    text-transform: uppercase;
    color: #002B5E;
    border: 1px solid #fff;
}
#menu-home-menu > li
a:hover{
    background: #002B5E !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.nav-link{
    margin: 0.1rem;
}

/* Logo */
.logo{
    max-width: 165px;
    width: 165px;
}

/* Background navbar*/
.bgw{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 3px 6px #00000029;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

________    ____       ____    __________ __________ ________
`MMMMMMM   6MMMMb     6MMMMb   MMMMMMMMMM `MMMMMMMMM `MMMMMMMb.
 MM    \  8P    Y8   8P    Y8  /   MM   \  MM      \  MM    `Mb
 MM      6M      Mb 6M      Mb     MM      MM         MM     MM
 MM   ,  MM      MM MM      MM     MM      MM    ,    MM     MM
 MMMMMM  MM      MM MM      MM     MM      MMMMMMM    MM    .M9
 MM   `  MM      MM MM      MM     MM      MM    `    MMMMMMM9'
 MM      MM      MM MM      MM     MM      MM         MM  \M\
 MM      YM      M9 YM      M9     MM      MM         MM   \M\
 MM       8b    d8   8b    d8      MM      MM      /  MM    \M\
_MM_       YMMMM9     YMMMM9      _MM_    _MMMMMMMMM _MM_    \M\_


 --*/
/*-----------------------------------------------*/

.footer{
    background-color: #002B5E;
    width: 100%;
    height: 220px;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

____    ____   ____    ___       _____________ ________          _         ____   __________
`MM'    `MM'  6MMMMb   `MMb     dMM'`MMMMMMMMM `MMMMMMMb.       dM.       6MMMMb/ `MMMMMMMMM
 MM      MM  8P    Y8   MMM.   ,PMM  MM      \  MM    `Mb      ,MMb      8P    YM  MM      \
 MM      MM 6M      Mb  M`Mb   d'MM  MM         MM     MM      d'YM.    6M      Y  MM
 MM      MM MM      MM  M YM. ,P MM  MM    ,    MM     MM     ,P `Mb    MM         MM    ,
 MMMMMMMMMM MM      MM  M `Mb d' MM  MMMMMMM    MM    .M9     d'  YM.   MM         MMMMMMM
 MM      MM MM      MM  M  YM.P  MM  MM    `    MMMMMMM9'    ,P   `Mb   MM     ___ MM    `
 MM      MM MM      MM  M  `Mb'  MM  MM         MM           d'    YM.  MM     `M' MM
 MM      MM YM      M9  M   YP   MM  MM         MM          ,MMMMMMMMb  YM      M  MM
 MM      MM  8b    d8   M   `'   MM  MM      /  MM          d'      YM.  8b    d9  MM      /
_MM_    _MM_  YMMMM9   _M_      _MM__MMMMMMMMM _MM_       _dM_     _dMM_  YMMMM9  _MMMMMMMMM


 --*/
/*-----------------------------------------------*/

/* ---------------------------------------- */
/* --- FAQ ---*/
/* ---------------------------------------- */

#section-faq{
    background: url('../../img/faq/Bckgd-FAQ.svg');
    background-size: cover;
}

.block-img-faq {
    height: 80%;
    position: absolute;
    bottom: -4%;
}

/* Style Block */
.block-faq{
    padding: 6%;
    margin-left: auto;
    background-color: #002B5E;
    max-width: 100%;
}

a.faq{
    font-family: "Avenir-Medium";
    color: white !important;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.9px;
}

a.faq span.FAQsize1{
    font-size: 1.5rem;
}

a.faq span.FAQsize2{
    font-size: 1.25rem;
}

/* Btn Block */
.btn-block{
    background: #002B5E;
    border: 4px solid #83B4FF;
    color: #fff;
    padding: 2rem;
    margin-block-end: 20px;
    opacity: 1;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn-block:hover{
    background: #83B4FF;
    border: 4px solid #83B4FF;
    color: #fff;
}

/* ---------------------------------------- */
/* --- Modal FAQ --- */
/* ---------------------------------------- */

.img-faq{
    max-width: 100%;
    max-height: 395px;
    margin: 30px 0 30px 30px;
}

.text-faq{
    margin: 42px 33px;
    text-align: justify;
}

/* Modal-footer */

/* .arrow-faq{
    font-size: 40px;
}

.btn-faq{
    padding: 10px;
    font-size: 1.25em;
    border: 4px solid #FFFF;
}

.btn-faq:hover{
    border: 4px solid #83B4FF;
}*/

/*-- MODAL-PERSO --*/
/*-----------------------------------------------*/

.container-faq{
    margin: 0 33px;
}

button.closed{
    font-size: 4rem;
    color: #00204A;
    position: absolute;
    top: 0;
    right: 5%;
    align-self: end;
    z-index: 1;
    border: none;
    background: none;
}

.title{
    font-size: 2rem;
}

.modal-perso{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper{
    overflow: hidden;
    background: #fff;
    width: 1266px;
    height: 642px;
    max-width: calc(100vw - 150px);
    max-height: calc(100vh - 100px);
    padding: 75px;
    position: relative;
}

button.prev-modal{
    position: absolute;
    height: 67px;
    bottom: 38px;
    left: 10px;
    z-index: 1;
    border: none;
    background: transparent;
}

button.prev-modal:focus{
    border: none;
    outline: none;
}

button.prev-modal:active{
    border: none;
    outline: none;
}

button.next-modal{
    position: absolute;
    height: 67px;
    bottom: 38px;
    right: 10px;
    z-index: 1;
    border: none;
    background: transparent;
}

button.next-modal:focus{
    border: none;
    outline: none;
}

button.next-modal:active{
    border: none;
    outline: none;
}

span.text-prev-modal{
    border: 4px solid #fff;
    padding: 10px;
}

span.text-next-modal{
    border: 4px solid #fff;
    padding: 10px;
}


.text-next-modal:hover, 
.text-prev-modal:hover{
    border: 4px solid #83B4FF;
}

.slide{
    position: absolute;
    top: 52px;
    left: 50%;
    width: 1154px;
    height: 463px;
    background-color: #E7F0FC;
    opacity: 0;
    transform: translateX(-50%);
}

.slide-active{
    animation: effet-modal 3s step-end infinite;
}

@keyframes effet-modal {
    from,
    to {
        opacity: 1;
    }
}

/* ---------------------------------------- */
/* 

__________                                                        ___
`MMMMMMMMM                                         68b            `MM
 MM      \   /                                     Y89             MM                                      /                           /
 MM         /M           ___  __    __     _____   ___         ____MM    ___    ___  __     ____          /M       _____   ___   ___  /M             ____      ___
 MM    ,   /MMMMM        `MM 6MMb  6MMb   6MMMMMb  `MM        6MMMMMM  6MMMMb   `MM 6MMb   6MMMMb\       /MMMMM   6MMMMMb  `MM    MM /MMMMM         6MMMMb.  6MMMMb
 MMMMMMM    MM            MM69 `MM69 `Mb 6M'   `Mb  MM       6M'  `MM 8M'  `Mb   MMM9 `Mb MM'    `        MM     6M'   `Mb  MM    MM  MM           6M'   Mb 8M'  `Mb
 MM    `    MM            MM'   MM'   MM MM     MM  MM       MM    MM     ,oMM   MM'   MM YM.             MM     MM     MM  MM    MM  MM           MM    `'     ,oMM
 MM         MM            MM    MM    MM MM     MM  MM       MM    MM ,6MM9'MM   MM    MM  YMMMMb         MM     MM     MM  MM    MM  MM           MM       ,6MM9'MM
 MM         MM            MM    MM    MM MM     MM  MM       MM    MM MM'   MM   MM    MM      `Mb        MM     MM     MM  MM    MM  MM           MM       MM'   MM
 MM      /  YM.  ,        MM    MM    MM YM.   ,M9  MM       YM.  ,MM MM.  ,MM   MM    MM L    ,MM        YM.  , YM.   ,M9  YM.   MM  YM.  ,       YM.   d9 MM.  ,MM
_MMMMMMMMM   YMMM9       _MM_  _MM_  _MM_ YMMMMM9  _MM_       YMMMMMM_`YMMM9'Yb._MM_  _MM_MYMMMM9          YMMM9  YMMMMM9    YMMM9MM_  YMMM9        YMMMM9  `YMMM9'Yb.


 */
/* ---------------------------------------- */
#section-etmoi h3 {
    font-size: 1.6em !important;
    text-transform: none;
}

/* line */
#section-etmoi h3::before {
    width: 24%;
    height: 50%;
    background-color: #bebebe;
    border-radius: 1rem;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-7%);
    content: "";
}

.nav-tabs{
    border-bottom: none;
    position: absolute;
    bottom: 0;
}

.nav-home-moi{
    height: 224px;
    position: relative;
}

.col-item{
    position: absolute;
    bottom: 0;
    width: 179px;
}

.home-moi-item{
    position: relative;
    padding: 0 !important;
    width: 179px;
}

.row-home-moi{
    background: #F7F9FA;
    height: 426px;
    max-height: 100%;
    padding: 15px;
}

.text-home-moi{
    position: absolute;
    top: 42%;
    left: 0;
}

.img-home-moi{
    width: 164px;
    height: 165px;
    object-fit: contain;
}

.list-home-moi{
    background-color: #fff;
    border: 1px solid black;
    font-size: 1em;
}
.list-style-custom{
    list-style-type: none;
    padding-inline-start: 0;
}

.list-style-custom li {
    padding-inline-start: 30px;
    position: relative;
    margin-bottom: 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
}

.row-tab-bg{
    background: url('../../img/jevousrejoins.png');
    background-size: cover;
}

.row-tab-bg:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #002B5E;
    opacity: 0.80;
    content: "";
}
.tab-rejoindre {
    position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
    color: #fff;
    height: inherit;
}
.tab-rejoindre a {
    position: absolute;
    bottom: 50px;
    left: 38%;
}
.tab-rejoindre h2 {
    padding-top: 54px;
}

.card-soutien{
    border: 1px solid #C0CAD7;
    background-color: #fff;
    margin-top: 59px;
    height: 238px;
    padding-top: 47px;
}
.picto-home-moi{
    position: absolute;
    top: 5%;
    left: 42%;
}

.tab-suivre{
    height: 238px;
    background-color: #fff;
}

.tab-suivre h2.bf{
    padding-top: 47px;
    padding-bottom: 45px;
}

.col-suivre{
    padding-top: 57px;
    padding-bottom: 57px;
}
.suivre-right{
    border-left: 5px solid #002B5E;
    height: 311px;
    padding-top: auto;
    padding-bottom: auto;
}
.img-tab-suivre{
    height: 44px;
}

.list-style-contact{
    list-style: none;
    padding-inline-start: 30px;
    width: 70%;
}

.card-action{
    border: 1px solid #D3D3D3;
    width: 282px;
    height: 169px;
}

.card-action.action-1{
    background: url('../../img/png/action-1.png');
    background-size: cover;
}

.card-action.action-2{
    background: url('../../img/png/action-2.png');
    background-size: cover;
}

.card-action.action-3{
    background: url('../../img/png/action-3.png');
    background-size: cover;
}

.card-action.action-4{
    background: url('../../img/png/action-4.png');
    background-size: cover;

}

/* ---------------------------------------- */
/* Content block */
/* ---------------------------------------- */

/* hero-block */
.hero-block{
    background-color: #002B5E;
    /*transform: matrix(1, -0.09, 0.09, 1, 0, 0);*/
}

.img-archipel{
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    width: 607px;
    right: 10%;
}

.bloc-archipel{
    height: 440px;
}

.col-chiffres{
    border: 1px solid #C0CAD7;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

________          _         ____   __________   ____
`MMMMMMMb.       dM.       6MMMMb/ `MMMMMMMMM  6MMMMb\
 MM    `Mb      ,MMb      8P    YM  MM      \ 6M'    `
 MM     MM      d'YM.    6M      Y  MM        MM
 MM     MM     ,P `Mb    MM         MM    ,   YM.
 MM    .M9     d'  YM.   MM         MMMMMMM    YMMMMb
 MMMMMMM9'    ,P   `Mb   MM     ___ MM    `        `Mb
 MM           d'    YM.  MM     `M' MM              MM
 MM          ,MMMMMMMMb  YM      M  MM              MM
 MM          d'      YM.  8b    d9  MM      / L    ,M9
_MM_       _dM_     _dMM_  YMMMM9  _MMMMMMMMM MYMMMM9


 --*/
/*-----------------------------------------------*/

.page-title {
    position: absolute;
    top: 5%;
    margin-top: -50px;
}

.bg-title-page {
    margin-top: 50px;
}

.bg-title-page, .bg-img {
    background-size: cover;
}

.block-text-title{
    padding: 50px 64px 75px 108px ;
}

.block-text-left{
    padding: 50px 64px 75px 15px ;
}

.block-text-right{
    padding: 50px 64px 75px 40px ;
}

/*----------------------------------------------------------------------------------------------*/
/*-- 

       _
      dM.                                          68b                   68b
     ,MMb                                          Y89             /     Y89
     d'YM.      ____     ____     _____     ____   ___    ___     /M     ___   _____   ___  __
    ,P `Mb     6MMMMb\  6MMMMb\  6MMMMMb   6MMMMb. `MM  6MMMMb   /MMMMM  `MM  6MMMMMb  `MM 6MMb
    d'  YM.   MM'    ` MM'    ` 6M'   `Mb 6M'   Mb  MM 8M'  `Mb   MM      MM 6M'   `Mb  MMM9 `Mb
   ,P   `Mb   YM.      YM.      MM     MM MM    `'  MM     ,oMM   MM      MM MM     MM  MM'   MM
   d'    YM.   YMMMMb   YMMMMb  MM     MM MM        MM ,6MM9'MM   MM      MM MM     MM  MM    MM
  ,MMMMMMMMb       `Mb      `Mb MM     MM MM        MM MM'   MM   MM      MM MM     MM  MM    MM
  d'      YM. L    ,MM L    ,MM YM.   ,M9 YM.   d9  MM MM.  ,MM   YM.  ,  MM YM.   ,M9  MM    MM
_dM_     _dMM_MYMMMM9  MYMMMM9   YMMMMM9   YMMMM9  _MM_`YMMM9'Yb.  YMMM9 _MM_ YMMMMM9  _MM_  _MM_


 --*/
/*-----------------------------------------------*/

.picto-chiffres{
    position: absolute;
    top: -20%;
    left: 40%;
}

#pAssociation .bg-title-page  {
    background-image: url('../../img/p_association/img_titre_association.jpg');
}

/* ---------------------------------------- */
/* Team block */
/* ---------------------------------------- */
.bg-team {
    background-image: url('../../img/p_association/img_bloc_equipe.jpg');
}

#section-team{
    background:rgba(233, 241, 255, 0.6) url('../../img/texture-bleu.svg');
    background-size: cover;
}





/*----------------------------------------------------------------------------------------------*/
/*-- 

___      ___                                                                                         ___
`MM\     `M'                                                        68b           68b                `MM
 MMM\     M                                                         Y89           Y89                 MM
 M\MM\    M   _____   ___   ___   ____         ___  __   ____       ___   _____   ___ ___  __     ____MM ___  __   ____
 M \MM\   M  6MMMMMb  `MM    MM  6MMMMb\       `MM 6MM  6MMMMb      `MM  6MMMMMb  `MM `MM 6MMb   6MMMMMM `MM 6MM  6MMMMb
 M  \MM\  M 6M'   `Mb  MM    MM MM'    `        MM69 " 6M'  `Mb      MM 6M'   `Mb  MM  MMM9 `Mb 6M'  `MM  MM69 " 6M'  `Mb
 M   \MM\ M MM     MM  MM    MM YM.             MM'    MM    MM      MM MM     MM  MM  MM'   MM MM    MM  MM'    MM    MM
 M    \MM\M MM     MM  MM    MM  YMMMMb         MM     MMMMMMMM      MM MM     MM  MM  MM    MM MM    MM  MM     MMMMMMMM
 M     \MMM MM     MM  MM    MM      `Mb        MM     MM            MM MM     MM  MM  MM    MM MM    MM  MM     MM
 M      \MM YM.   ,M9  YM.   MM L    ,MM        MM     YM    d9      MM YM.   ,M9  MM  MM    MM YM.  ,MM  MM     YM    d9
_M_      \M  YMMMMM9    YMMM9MM_MYMMMM9        _MM_     YMMMM9       MM  YMMMMM9  _MM__MM_  _MM_ YMMMMMM__MM_     YMMMM9
                                                                     MM
                                                                 (8) M9
                                                                  YMM9 --*/
/*-----------------------------------------------*/

#pRejoindre .bg-title-page {
    background-image: url('../../img/p_nous_rejoindre/img_titre_rejoindre.jpg');
}


#pRejoindre .bg-title-page:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #002B5E;
    opacity: 0.80;
    content: "";
}

#pRejoindre .bg-title-page .tab-content{
    position: absolute;
    width: 30%;
    top: 40%;
    left: 33%;
    color: #1F2650;
    height: inherit;
    text-align: center;
}

#pRejoindre .bg-title-page .tab-content div{
    background: #fff;
    margin-top: 5%;
    padding: 5%;
}

#bloc-postule .bg-img {
    background-image: url('../../img/p_nous_rejoindre/img_bloc_postule.jpg');
}

/*#bloc-engagement .bg-img {
    background-image: url('../../img/p_nous_rejoindre/img_bloc_mengageant.png');
}

#bloc-QB .bg-img {
    background-image: url('../../img/p_nous_rejoindre/QB_1.jpg');
}*/

#bloc-QB img{
    max-width: 100%;
}



.site-section{
    padding: 2rem 0;
}

.block .image{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.block .image, .block .text{
    padding: 20px;
    text-align: justify;
    margin-top: 10px;
}

.block .image #bg-1 {
    background-image: url('/img/p_association/img_titre_association.jpg');
}