/* ---------------------------------------- */
/* INDEX */
/* ---------------------------------------- */
/* GLOBAL
    > Media query
    > Container

/* TYPOGRAPHY
    > Texts
    > Titles
    > Specials titles

/* NAVBAR
    > Logo
    > Navbar
    > Top Navbar

/* BUTTONS
    > Specials btn

/* MODALS
    > Modal FAQ

/* CONTENT
    > Style
    > Content block



/*----------------------------------------------------------------------------------------------*/
/*-- 

   ____   ____        ____    ________          _      ____
  6MMMMb/ `MM'       6MMMMb   `MMMMMMMb.       dM.     `MM'
 8P    YM  MM       8P    Y8   MM    `Mb      ,MMb      MM
6M      Y  MM      6M      Mb  MM     MM      d'YM.     MM
MM         MM      MM      MM  MM    .M9     ,P `Mb     MM
MM         MM      MM      MM  MMMMMMM(      d'  YM.    MM
MM     ___ MM      MM      MM  MM    `Mb    ,P   `Mb    MM
MM     `M' MM      MM      MM  MM     MM    d'    YM.   MM
YM      M  MM      YM      M9  MM     MM   ,MMMMMMMMb   MM
 8b    d9  MM    /  8b    d8   MM    .M9   d'      YM.  MM    /
  YMMMM9  _MMMMMMM   YMMMM9   _MMMMMMM9' _dM_     _dMM__MMMMMMM


 --*/
/*-----------------------------------------------*/
html{
    padding: 0!important;
    margin: 0!important;
}

.pad-l-50{
    padding-left: 50%;
}

.pad-l-40{
    padding-left: 40%;
}

.pad-l-30{
    padding-left: 30%;
}

.pad-l-20{
    padding-left: 20%;
}

.pad-l-10{
    padding-left: 10%;
}

/* ---------------------------------------- */
/* Media query */
/* ---------------------------------------- */
@media (min-width: 1250px) {
    .container{
        max-width: 1366px;
    }
}

/* ---------------------------------------- */
/* Container */
/* ---------------------------------------- */
.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/*----------------------------------------------------------------------------------------------*/
/*-- TYPOGRAPHY --*/
/*-----------------------------------------------*/
@font-face{
	font-family: "Avenir-Medium";
    src: url('./Avenir/Avenir-Medium.woff2');
}

@font-face{
	font-family: "Avenir-Black";
    src: url('./Avenir/Avenir-Black.woff2');
}

/* ---------------------------------------- */
/* Texts */
/* ---------------------------------------- */
body {
    font-family: "Avenir-Medium", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1em;
    color: #000;
}

span.bf,.bf-under{
    font-family: "Avenir-Black";
}

.p-blc{
    color: #fff;
}


/* ---------------------------------------- */
/* Titles */
/* ---------------------------------------- */

/* first-title */
h1.heading{
    font-family: "Avenir-Black";
    font-size: 1.9em !important;
    position: relative;
}

/* sub-title */
h2,h3{
    font-family: "Avenir-Black";
    font-size: 1.5em;
}

h4,h5,h6{
    font-family: "Avenir-Medium";
    font-size: 1.25em;
}

/* line */
.heading::before {
    width: 24%;
    height: 50%;
    background-color: #bebebe;
    border-radius: 1rem;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
    top: 70%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) translateX(-7%);
    content: "";
}


/* ---------------------------------------- */
/* Specials Titles */
/* ---------------------------------------- */
.text-center {
    text-align: center;
}

h3.text-center{
    letter-spacing: 6px;
}

/* title-primary */
.text-center.primary{
    color: #83B4FF;
}

/* title-danger */
.text-center.danger{
    color: #F786BE;
}

/* title-warning */
.text-center.warning{
    color: #F9A485;
}

/* title-success */
.text-center.success{
    color: #C4E36A;
}


/*----------------------------------------------------------------------------------------------*/
/*-- NAVBAR --*/
/*-----------------------------------------------*/

/* ---------------------------------------- */
/* Logo */
/* ---------------------------------------- */
.logo{
    max-width: 165px;
    width: 165px;
}

/* ---------------------------------------- */
/* Navbar */
/* ---------------------------------------- */
#header{
    position: fixed;
    /* top: 0; sans wpadminbar */
    top: 32px; /* avec wpadminbar */
    width: 100%;
    z-index: 999;
}
#pageContent{
    margin-top: 126px;
}

#menu-home-menu > li a{
    font-family: "Avenir-Black";
    font-size: 14px;
    text-transform: uppercase;
    color: #002B5E;
    border: 1px solid #fff;
}
#menu-home-menu > li
a:hover{
    background: #002B5E !important;
    color: #fff !important;
    border: 1px solid #fff !important;
}

.nav-link{
    margin: 0.1rem;
}

/* ---------------------------------------- */
/* Top Navbar */
/* ---------------------------------------- */
#topNavbar{
    background-color: #fff;
    box-shadow: 0px 3px 6px #00000029;
}

.agenda {
    border-right: 1px solid #1F2650;
}


/*----------------------------------------------------------------------------------------------*/
/*-- BUTTON --*/
/*-----------------------------------------------*/
.btn{
    font-size: 0.8em;
    font-family: "Avenir-Black";
    box-shadow: 0px 3px 6px #00000029;
    color: #ffff;
    border: 2px solid #FAFAFA;
    border-radius: 1rem;
    padding: .2rem 1rem;
    opacity: 1;
}

/* ---------------------------------------- */
/* Specials Btn */
/* ---------------------------------------- */

/* Btn-primary */
.btn.btn-primary{
    background: #83B4FF;
}
.btn-primary:hover{
    background: #fff;
    color:#83B4FF;
    border: 2px solid #83B4FF;
}

/* Btn-danger */
.btn.btn-danger{
    background: #F786BE;
}
.btn-danger:hover{
    background: #fff;
    color:#F786BE;
    border: 2px solid #F786BE;
}
.btn.r-100{
    border-radius: 50%;
    padding: 0.5rem  0.8rem;
}

/* Btn-warning */
.btn.btn-warning{
    background: #F9A485;
}
.btn-warning:hover{
    background: #fff;
    color:#F9A485;
    border: 2px solid #F9A485;
}

/* Btn-success */
.btn.btn-success{
    background: #C4E36A;
}
.btn-success:hover{
    background: #fff;
    color:#C4E36A;
    border: 2px solid #C4E36A;
}


/*----------------------------------------------------------------------------------------------*/
/*-- MODALS --*/
/*-----------------------------------------------*/

/* ---------------------------------------- */
/* FAQ */
/* ---------------------------------------- */

/* Style Block */
.block-faq{
    padding: 6%;
    margin-left: auto;
    background-color: #002B5E;
    max-width: 100%;
}

a.faq{
    font-family: "Avenir-Black";
    color: white !important;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 0.9px;
}

/* Btn Block */
.btn-block{
    background: #002B5E;
    border: 4px solid #83B4FF;
    color: #fff;
    padding: 2rem;
    margin-block-end: 20px;
    opacity: 1;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn-block:hover{
    background: #83B4FF;
    border: 4px solid #83B4FF;
    color: #fff;
}

/* ---------------------------------------- */
/* FAQ Modals */
/* ---------------------------------------- */

/* Modal-header */
.modal-header button.close{
    font-size: 4rem;
    color: #00204A;
    margin-bottom: -70px;
    opacity: 1;
    z-index: 1;
    position: relative;
}

.modal-header{
    border: none;
    padding: 1.4rem;
}

/* Modal-body */
.modal-body{
    background-color: #E7F0FC;
    text-align: justify;
    position: static;
    max-width: 96%;
    margin: auto;
    padding: 2rem 1rem;
}

.img-faq{
    max-width: 100%;
}

/* Modal-footer */
.modal-footer{
    border: none;
    padding: 1.4rem;
}

.modal-footer .btn-faq{
    padding: 10px;
    font-size: 1.25em;
    border: 4px solid #FFFF;
}

.modal-footer .btn-faq:hover{
    border: 4px solid #83B4FF;
}


/*----------------------------------------------------------------------------------------------*/
/*-- CONTENT --*/
/*-----------------------------------------------*/

/* ---------------------------------------- */
/* & moi dans tout ça */
/* ---------------------------------------- */
.nav-tabs{
    border-bottom: none;
    position: absolute;
    bottom: 0;
}

.nav-home-moi{
    height: 224px;
    position: relative;
}

.col-item{
    position: absolute;
    bottom: 0;
    width: 179px;
}

.home-moi-item{
    position: relative;
    padding: 0 !important;
    width: 179px;
}

.row-home-moi{
    background: #F7F9FA;
    height: 426px;
    max-height: 100%;
    padding: 15px;
}

.text-home-moi{
    position: absolute;
    top: 42%;
    left: 0;
}

.img-home-moi{
    width: 164px;
    height: 165px;
    object-fit: contain;
}

.list-home-moi{
    background-color: #fff;
    border: 1px solid black;
    font-size: 1em;
}
.list-style-custom{
    list-style-type: none;
    padding-inline-start: 0;
}

.list-style-custom li {
    padding-inline-start: 30px;
    position: relative;
    margin-bottom: 15px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: transparent;
    
}

.row-tab-bg{
    background: url('../../img/jevousrejoins.png');
    background-size: cover;
}
.row-tab-bg:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #002B5E;
    opacity: 0.80;
    content: "";
}
.tab-rejoindre {
    position: absolute;
    width: 40%;
    top: 0;
    left: 30%;
    color: #fff;
    height: inherit;
}
.tab-rejoindre a {
    position: absolute;
    bottom: 50px;
    left: 38%;
}
.tab-rejoindre h2 {
    padding-top: 54px;
}

.card-soutien{
    border: 1px solid #C0CAD7;
    background-color: #fff;
    margin-top: 59px;
    height: 238px;
    padding-top: 47px;
}
.picto-home-moi{
    position: absolute;
    top: 5%;
    left: 42%;
}

.tab-suivre{
    height: 238px;
    background-color: #fff;
}

.tab-suivre h2.bf{
    padding-top: 47px;
    padding-bottom: 45px;
}

.col-suivre{
    padding-top: 57px;
    padding-bottom: 57px;
}
.suivre-right{
    border-left: 5px solid #002B5E;
    height: 311px;
    padding-top: auto;
    padding-bottom: auto;
}
.img-tab-suivre{
    height: 44px;
}

.list-style-contact{
    list-style: none;
    padding-inline-start: 30px;
    width: 70%;
}


/* ---------------------------------------- */
/* Style */
/* ---------------------------------------- */

/* colors */
.bc{
    color: #83B4FF;
}

.bf{
    color: #1F2650;
}
.bgw{
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 3px 6px #00000029;
}

.bf-under{
    text-decoration: underline;
    color: #1F2650;
    /*font-weight: 700;*/
}

.bgbc{
    background: #E9F1FF;
}

.bgj{
    background: #F4E1A0;
}

/* ---------------------------------------- */
/* Content block */
/* ---------------------------------------- */

/* hero-block */
.hero-block{
    background-color: #002B5E;
    /*transform: matrix(1, -0.09, 0.09, 1, 0, 0);*/
}


/*.text-asso-row{
    padding:100px 64px 50px 108px ;
}*/

/*.titre-asso{
    position: absolute;
    top: 5%;
    left: 10%;
}*/

/*.groupe-bascule{
    background-image: url('../../img/groupe-bascule.png');
    background-size: cover;
}*/

.img-archipel{
    transform: matrix(1, -0.09, 0.09, 1, 0, 0);
    width: 607px;
    right: 10%;
}

.bloc-archipel{
    height: 440px;
}

#section-equipe{
    background:rgba(233, 241, 255, 0.6) url('../../img/texture-bleu.svg');
    background-size: cover;
}

.col-chiffres{
    border: 1px solid #C0CAD7;
}


/* ---------------------------------------- */
/* List-style */
/* ---------------------------------------- */

.list-style-custom{
    list-style-type: none;
    padding-inline-start: 0;
}

.list-style-custom li {
    padding-inline-start: 30px;
    position: relative;
    margin-bottom: 15px;
}

.arrow-right{
    position: absolute;
    top: 5px;
    left: 0;
}


/*----------------------------------------------------------------------------------------------*/
/*-- 

________          _         ____   __________   ____
`MMMMMMMb.       dM.       6MMMMb/ `MMMMMMMMM  6MMMMb\
 MM    `Mb      ,MMb      8P    YM  MM      \ 6M'    `
 MM     MM      d'YM.    6M      Y  MM        MM
 MM     MM     ,P `Mb    MM         MM    ,   YM.
 MM    .M9     d'  YM.   MM         MMMMMMM    YMMMMb
 MMMMMMM9'    ,P   `Mb   MM     ___ MM    `        `Mb
 MM           d'    YM.  MM     `M' MM              MM
 MM          ,MMMMMMMMb  YM      M  MM              MM
 MM          d'      YM.  8b    d9  MM      / L    ,M9
_MM_       _dM_     _dMM_  YMMMM9  _MMMMMMMMM MYMMMM9


 --*/
/*-----------------------------------------------*/

.page-title {
    position: absolute;
    top: 5%;
}

.bg-img {
    background-size: cover;
}

.block-text-title{
    padding:100px 64px 50px 108px ;
}

.block-text{
    padding:100px 64px 50px 15px ;
}

/*----------------------------------------------------------------------------------------------*/
/*-- 

       _
      dM.                                          68b                   68b
     ,MMb                                          Y89             /     Y89
     d'YM.      ____     ____     _____     ____   ___    ___     /M     ___   _____   ___  __
    ,P `Mb     6MMMMb\  6MMMMb\  6MMMMMb   6MMMMb. `MM  6MMMMb   /MMMMM  `MM  6MMMMMb  `MM 6MMb
    d'  YM.   MM'    ` MM'    ` 6M'   `Mb 6M'   Mb  MM 8M'  `Mb   MM      MM 6M'   `Mb  MMM9 `Mb
   ,P   `Mb   YM.      YM.      MM     MM MM    `'  MM     ,oMM   MM      MM MM     MM  MM'   MM
   d'    YM.   YMMMMb   YMMMMb  MM     MM MM        MM ,6MM9'MM   MM      MM MM     MM  MM    MM
  ,MMMMMMMMb       `Mb      `Mb MM     MM MM        MM MM'   MM   MM      MM MM     MM  MM    MM
  d'      YM. L    ,MM L    ,MM YM.   ,M9 YM.   d9  MM MM.  ,MM   YM.  ,  MM YM.   ,M9  MM    MM
_dM_     _dMM_MYMMMM9  MYMMMM9   YMMMMM9   YMMMM9  _MM_`YMMM9'Yb.  YMMM9 _MM_ YMMMMM9  _MM_  _MM_


 --*/
/*-----------------------------------------------*/

.picto-chiffres{
    position: absolute;
    top: -20%;
    left: 40%;
}

#pAssociation .bg-img  {
    background-image: url('../../img/img_titre_association.jpg');
}

#bloc-equipe .bg-img {
    background-image: url('../../img/img_titre_rejoindre.jpg');
}





/*----------------------------------------------------------------------------------------------*/
/*-- 

___      ___                                                                                         ___
`MM\     `M'                                                        68b           68b                `MM
 MMM\     M                                                         Y89           Y89                 MM
 M\MM\    M   _____   ___   ___   ____         ___  __   ____       ___   _____   ___ ___  __     ____MM ___  __   ____
 M \MM\   M  6MMMMMb  `MM    MM  6MMMMb\       `MM 6MM  6MMMMb      `MM  6MMMMMb  `MM `MM 6MMb   6MMMMMM `MM 6MM  6MMMMb
 M  \MM\  M 6M'   `Mb  MM    MM MM'    `        MM69 " 6M'  `Mb      MM 6M'   `Mb  MM  MMM9 `Mb 6M'  `MM  MM69 " 6M'  `Mb
 M   \MM\ M MM     MM  MM    MM YM.             MM'    MM    MM      MM MM     MM  MM  MM'   MM MM    MM  MM'    MM    MM
 M    \MM\M MM     MM  MM    MM  YMMMMb         MM     MMMMMMMM      MM MM     MM  MM  MM    MM MM    MM  MM     MMMMMMMM
 M     \MMM MM     MM  MM    MM      `Mb        MM     MM            MM MM     MM  MM  MM    MM MM    MM  MM     MM
 M      \MM YM.   ,M9  YM.   MM L    ,MM        MM     YM    d9      MM YM.   ,M9  MM  MM    MM YM.  ,MM  MM     YM    d9
_M_      \M  YMMMMM9    YMMM9MM_MYMMMM9        _MM_     YMMMM9       MM  YMMMMM9  _MM__MM_  _MM_ YMMMMMM__MM_     YMMMM9
                                                                     MM
                                                                 (8) M9
                                                                  YMM9 --*/
/*-----------------------------------------------*/

#pRejoindre .bg-title-page {
    background-image: url('../../img/img_titre_rejoindre.jpg');
    background-size: cover;
}




/*----------------------------------------------------------------------------------------------*/
/*-- 

________    ____       ____    __________ __________ ________
`MMMMMMM   6MMMMb     6MMMMb   MMMMMMMMMM `MMMMMMMMM `MMMMMMMb.
 MM    \  8P    Y8   8P    Y8  /   MM   \  MM      \  MM    `Mb
 MM      6M      Mb 6M      Mb     MM      MM         MM     MM
 MM   ,  MM      MM MM      MM     MM      MM    ,    MM     MM
 MMMMMM  MM      MM MM      MM     MM      MMMMMMM    MM    .M9
 MM   `  MM      MM MM      MM     MM      MM    `    MMMMMMM9'
 MM      MM      MM MM      MM     MM      MM         MM  \M\
 MM      YM      M9 YM      M9     MM      MM         MM   \M\
 MM       8b    d8   8b    d8      MM      MM      /  MM    \M\
_MM_       YMMMM9     YMMMM9      _MM_    _MMMMMMMMM _MM_    \M\_


 --*/
/*-----------------------------------------------*/

.footer{
    background-color: #002B5E;
    width: 100%;
    height: 221px;
}


/*-- LUNDI --*/
/*-----------------------------------------------*/
.block-img-faq {
    height: 80%;
    position: absolute;
    bottom: -4%;
}

#section-faq{
    background: url('../../img/faq/Bckgd-FAQ.svg');
    background-size: cover;
}

.card-action{
    border: 1px solid #D3D3D3;
    width: 282px;
    height: 169px;
}

.card-action.action-1{
    background: url('../../img/png/action-1.png');
    background-size: cover;
}

.card-action.action-2{
    background: url('../../img/png/action-2.png');
    background-size: cover;
}

.card-action.action-3{
    background: url('../../img/png/action-3.png');
    background-size: cover;
}

.card-action.action-4{
    background: url('../../img/png/action-4.png');
    background-size: cover;

}

/*-- MODAL-PERSO --*/
/*-----------------------------------------------*/
.closed{
    position: absolute;
    top: 0;
    right: 0;
    align-self: end;
    font-size: 2rem;
    font-weight: bolder;
    border: 2px solid #F786BE;
    padding: 5px;
}
.closed:hover{
    background: #F786BE;
    border: 2px solid black;
    padding: 7px;
    cursor: pointer;
}
.title{
    font-size: 2rem;
}

.modal-perso{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper{
    overflow: auto;
    background: #fff;
    width: 1266px;
    height: 642px;
    max-width: calc(100vw - 150px);
    max-height: calc(100vh - 100px);
    padding: 75px;
    position: relative;
}

.prev-modal{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: royalblue;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}
.next-modal{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: royalblue;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: 40px;
    background-color: skyblue;
    opacity: 0;
}
.slide-active{
    animation: effet-modal 3s step-end infinite;
    /* opacity: 1; */
}

@keyframes effet-modal {
    from,
    to {
        opacity: 1;
    }
}
